# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Java
*.class

# Build
out/
